<ion-header>
    <ion-toolbar [color]="isRecording ? 'danger': 'primary' ">
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <ion-button expand="full" (click)="getPermission()">Get Permission</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" (click)="startListening()">Start Listening</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" (click)="stopListening()" *ngIf="isIos()">Stop Listening</ion-button>
        </ion-col>
    </ion-row>

    <ion-card>
        <ion-card-header>This is what I understood...</ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let match of matches">
                    {{match}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>